.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*title*/

.profile__title {
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    width: 204px;
}

@media screen and (min-width: 320px) {
    .profile__title {
        margin: 70px auto 80px;
    }
}

@media screen and (min-width: 768px) {
    .profile__title{
        margin: 236px auto 96px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__title{
        margin: 74px auto 123px;
    }
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) {
    .profile__form {
        width: 260px;
    }
}

@media screen and (min-width: 568px) {
    .profile__form {
        width: 350px;
    }
}

@media screen and (min-width: 768px) {
    .profile__form {
        width: 410px;
    }
}

/*input-container*/

.profile__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    padding-bottom: 16px;
    margin-bottom: 17px;
    box-sizing: border-box;
}

.profile__input-container:nth-last-of-type(2) {
    margin-bottom: 0;
}

/*input-label*/

.profile__input-label {
    color: black;
    text-align: left;
}

/*input*/

.profile__input {
    border: none;
    outline: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

.profile__input:invalid {
    color: rgba(255, 64, 98, 1);
}

/*btn-container*/

.profile__btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

@media screen and (min-width: 320px) {
    .profile__btn-container {
        margin: 379px auto 40px;
    }
}

@media screen and (min-width: 768px) {
    .profile__btn-container {
        margin: 210px auto 301px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__btn-container {
        margin: 220px auto 70px;
    }
}

/*edit-btn*/ 

.profile__btn {
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
    cursor: pointer;
    padding: 0;
}

.profile__btn_type_edit {
    color: black;
}

.profile__btn_type_logout {
    color: rgba(255, 64, 98, 1);
}

.profile__btn_disabled {
    opacity: 0.6;
}

/*error*/

.profile__error {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 64, 98, 1);
    margin: 8px 0 5px;
    align-self: flex-end;
}

.profile__error_type_name {
    margin: 0 0 8px;
}