.promo {
    background-color: #f3c1f8;
    margin: 0;
    padding: 0;
    color: black;
}

/*container*/

.promo__container {
    padding: 184px 0 224px 0;
}

/*heading*/

.promo__heading {
    max-width: 760px;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 320px) {
    .promo__heading {
        font-size: 31px;
        line-height: 39px;
        max-width: 400px;
    }
}

@media screen and (min-width: 568px) {
    .promo__heading {
        max-width: 500px;
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .promo__heading {
        max-width: 760px;
        font-size: 50px;
        line-height: 58px;
    }
}

.promo__logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promo__logo_type_loggedIn {
    top: 50%;
}

@media screen and (min-width: 320px) {
    .promo__logo {
        width: 248px;
        height: 248px;
    }
}

@media screen and (min-width: 768px) {
    .promo__logo {
        width: 320px;
        height: 320px;
    }
}